{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
<div class="card mx-auto" style="max-width: 500px;">
<div class="card-body">
<h1>Change Password</h1>

<form action="/update-password" method="POST">
    <label>Old Password:</label>
    <input type="password" name="old_password" class="form-control">
    <br><br>
    <label>New Password:</label>
    <input type="password" name="new_password" class="form-control">
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</div>
</div>
{% endblock %}